body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: white; /* Cambiado a blanco */
}

.contenedor {
    position: relative;
    width: 90%;
    max-width: 1000px; /* Añadir un límite máximo para evitar que se extienda demasiado en pantallas grandes */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.6); /* Reducir la opacidad del borde para que no sea tan prominente */
    border-radius: 20px;
    backdrop-filter: blur(15px); /* Genial para efectos de desenfoque en el fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1); /* Agregar un color de fondo semi-transparente para mejorar la legibilidad */
}

.Titulo h2 {
    color: black; /* Cambia el color del texto a negro */
}

.users {
    overflow: auto; /* Agrega scroll cuando el contenido excede las dimensiones */
    max-height: 500px; /* Ajusta la altura máxima del contenedor de la tabla */
    width: 100%; /* Ajusta el ancho del contenedor de la tabla */
    backdrop-filter: blur(0px); /* Genial para efectos de desenfoque en el fondo */
}

.users table th, .users table td {
    padding: 30px 125px; /* Ajusta el espaciado horizontal */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.users table th {
    position: sticky;
    top: 0;
    background-color: darkgray; /* Color de fondo para los th */
    z-index: 1; /* Asegura que los th estén por encima del contenido de la tabla */
}

.users table td {
    color: darkgray;
}
