body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
}

.menu {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.menu h2 {
    margin-top: 0;
    text-align: center;
}

.users {
    flex: 1;
    padding: 20px;
    
}

.users h2 {
    margin-top: 0;
    margin-bottom: 40px; /* Ajusta este valor según sea necesario para separar el h2 de la tabla */
    text-align: center;
    color: black;
    box-sizing: border-box;
}

.users table {
    width: 100%;
    border-collapse: collapse;
}

.users th, .users td {
    border: 1px solid #ddd;
    padding: 8px;
}

.users th {
    background-color: #f2f2f2;
}

.user-management {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.user-management button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0072ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.user-management button:hover {
    background-color: #45a049;
}