/*es para editar el conjunto del codigo*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    /*configuracion para adaptar flexiblemente los elementos*/
    display: flex;

    /*sirven para alinear elementos dentro de un contenedor flex. sin el display no andarian y los elementos no estarian centrados.*/
    justify-content: center;
    align-items: center;

    /*con width 100% y el min-height provoco que el section ocupe toda la pantalla. sino quedarian espacios blancos*/
    width: 100%;
    min-height: 100vh;
    background: url("./img/fondo_patagonia3.jpg") no-repeat;

    /*centro y escalo la imagen*/
    background-position: center;
    background-size: cover;
}

/*editar el recuadro que contiene los inputs y demas*/
.contenedor{

    /*con position relative adaptas el cuadro para que quede siempre centrado a medida que moves la pantalla*/
    position: relative;

    /*con width y height defino el tamaño*/
    width: 400px;
    height: 450px;

    /*hago un borde blanco semitransparente*/
    border: 2px solid rgba(255, 255, 255, .6);

    /*genero esa corbatura en los bordes*/
    border-radius: 20px;

    /*aca le doy ese desenfoque al recuadro*/
    backdrop-filter: blur(15px);

    /*con estos 3 que siguen centro los elementos del recuadro*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*para editar el subtitulo*/
.contenedor h2{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

/*para editar los input*/
.input-contenedor{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;

    /*con esto le doy un levantamiento mas suave al clickear*/
    transition: .6s;
    font-weight: bold;
}
/*con esto le doy el efecto de al cargar los datos levantar el label*/
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #fff;
}
.input-contenedor i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.olvidar label input{
    margin: 3px;
}
.olvidar label a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.olvidar label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover{
    opacity: .9;
}

.registrar{
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.registrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.registrar p a:hover{
    text-decoration: underline;
}