<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section>
    <div class="contenedor">
        <div class="formulario">
            <form id="login-form" th:action="@{/sistema_login/login}" method="post">
                <h2>Iniciar sesión</h2>
                <div class="input-contenedor">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Usuario</label>
                </div>

                <div class="input-contenedor">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Contraseña</label>
                </div>

                <button type="submit">Acceder</button>

                <!-- Mensaje de error -->
                <div id="error-message" class="error-message" style="display: none;">
                    Usuario o contraseña incorrectos
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma tradicional

            var formData = new FormData(this); // Obtiene los datos del formulario
            var objectToSend = {
                username: formData.get('username'),
                password: formData.get('password')
            };

            fetch('/sistema_login/login', { // Cambia '/sistema_login/login' si es necesario
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(objectToSend)
            })
                .then(response => {
                    // Comprueba el código de estado de la respuesta
                    if (response.ok) {
                        // Redirige al usuario a otra página si el inicio de sesión fue exitoso
                        window.location.href = "/sistema_login/gestion"; // URL a la que deseas redirigir
                    } else {
                        // Mostrar mensaje de error si el inicio de sesión falla
                        document.getElementById('error-message').style.display = 'block';
                    }
                })
                .catch(error => {
                    // Maneja cualquier error que pueda ocurrir
                    console.error('Error:', error);
                    document.getElementById('error-message').style.display = 'block';
                });
        });
    });
</script>
</body>
</html>
