<!DOCTYPE html>
<!--configuro el lenguaje al español-->
<html lang="es">
<head>
    <!--este meta lo que hace es soportar todos los caracteres en la mayoria de los lenguajes del mundo-->
    <meta charset="UTF-8">
    <!--define el titulo de la pagina web-->
    <title>Login</title>
    <!--enlaza html y css-->
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section>
    <!--los div son simplemente una forma de dividir-->
    <div class="contenedor">
        <!--en esta division emppiezo a darle caracteristicas al formulario-->
        <div class="formulario">

            <!--con esto creo el formulario html para enviar datos-->
            <form id="login-form" th:action="@{/sistema_login/login}" method="post">
                <!--el h2 es un subtitulo-->
                <h2>Iniciar sesión</h2>
                <!--esta clase input me crea las celdas para poder colocar el email, -->
                <div class="input-contenedor">
                    <!--el required indica que sea obligatorio colocarlo-->
                    <!--el name se coloca para que los datos del formulario sean correctamente enviados-->
                    <!--sin el name los datos no se enviaran correctamente-->
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                    <label for="username">Usuario</label>
                </div>

                <div class="input-contenedor">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <label for="password">Contraseña</label>
                </div>


                <button type="submit">Acceder</button>
            </form>

        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma tradicional

            var formData = new FormData(this); // Obtiene los datos del formulario
            var objectToSend = {
                username: formData.get('username'),
                password: formData.get('password')
            };

            fetch('/sistema_login/login', { // Cambia '/sistema_login/login' si es necesario
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(objectToSend)
            })
                .then(response => {
                    // Comprueba el código de estado de la respuesta
                    if (response.status === 201) {
                        // Redirige al usuario a otra página si el inicio de sesión fue exitoso
                        window.location.href = "/sistema_login/gestion"; // URL a la que deseas redirigir
                    } else {
                        // Maneja otros códigos de estado según sea necesario
                        console.error('Error de inicio de sesión');
                    }
                })
                .catch(error => console.error('Error:', error)); // Maneja cualquier error que pueda ocurrir
        });
    });
</script>
</body>
</html>
