<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/interfaz.css"> <!-- etiqueta  donde llamamamos al archivo CSS -->
    <title>Management</title>
</head>
<body>

    <div class="menu">
        <h2>Gestor de Usuarios</h2>
    </div>

    <div class="users">
        <h2>Nombre: Admin</h2>
        <table>
            <thead>
                <tr>
                    <!--<th>Seleccionador</th>-->
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="user-management">

        <button onclick="nuevo(1)">NUEVO</button>
        <button onclick="editar(1)">EDITAR</button>
        <button onclick="modificar(1)">MODIFICAR</button>
        <button onclick="eliminar(1)">ELIMINAR</button>

    </div>

</body>
</html>